@page "/"

@using Microsoft.Extensions.Options
@using WebUI.Controllers
@inject IOptions<MySettings> MySettings

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<p>Setting1: @MySettings.Value.MovieHub1</p>
Welcome to your new app.
