.main-layout {
    background-color: #121212;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #1c1c1c;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

    .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

        .navbar ul li {
            margin: 0 15px;
        }

            .navbar ul li a {
                color: #e50914;
                text-decoration: none;
                font-size: 1.2rem;
                font-family: 'Courier New', Courier, monospace;
                text-transform: uppercase;
                transition: color 0.3s ease;
            }

                .navbar ul li a:hover {
                    color: #fff;
                }

main {
    flex-grow: 1;
    padding: 20px;
}
