@inherits LayoutComponentBase

<div class="main-layout">
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/moviesuggestion">Movie Suggestion</a></li>
            <li><a href="/movielibrary">Movie Library</a></li>
            <li><a href="/toplist">Toplist</a></li>
        </ul>
    </nav>

    <main>
        @Body
    </main>
</div>